<div class="d-flex flex-row justify-content-between bd-highlight mt-4">
  <div class="p-2 bd-highlight">
    <h4><span class="logo">Seech</span> Bank </h4>
  </div>
  <div class="p-2 d-flex flex-row bd-highlight mx-2">
    <h4 class="amount mt-1">$550.00</h4>
    <div class="spacer mx-1"></div>
    <div class="user-profile text-center mx-1">
      <img width="20px" height="20px" src="../../../assets/img/male-avatar.png">
    </div>
    <div class="mt-2 mx-1">
      <h6>Jane Doe</h6>
    </div>
  </div>
</div>
