
  <div class="row">

  </div>

  <hr>

  <div class="row">
    <form>
    <div class="col-md-12">
        <div class="input_wrap">
          <input type="number" required />
          <label>Amount</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="input_wrap">
          <input type="text" required />
          <label>Recipient</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="input_wrap">
          <input type="text" required />
          <label>Description <small>(optional)</small></label>
        </div>
      </div>
      <div class="col-md-12 text-center mb1">
        <button type="submit" class="btn btn-lg btn-block">Confirm</button>
      </div>
  </form>
  </div>

  <hr class="mb1">

