
input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #898989;
  border-radius: 2rem;
  outline: none;
  &:focus{
    border: 1px solid #bba5dc;
    transition: 0.35s ease;
    color: #898989;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -60px;
  right: 0px;
}

.user-profile {
  border: 1px solid #f1f1f1;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #41affd;
}

p {
  color: #b3b6c3;
}

h5 {
  color: #55a450;
  font-weight: 700;
}

.card {
  background-color: #f7f2ff;
  flex-direction: row;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px){
 p{
   font-size: small;
 }
}
